{
  "presets": [
    "react",
    "es2015"
  ],
  "plugins": [
    "transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "presets": [
        "react"
      ],
      "plugins": [
        "transform-object-rest-spread"
      ]
    }
  }
}
